<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-zinc-900 text-white">

    <div class="w-full min-h-screen p-10">
        <a href="/" class="text-blue-500 hover:text-blue-700">Back to Home</a>
        <h1 class="text-white text-3xl font-bold text-center mt-6 mb-4">All Users</h1>
        <div class="users mt-6 grid gap-6 justify-center grid-cols-1 sm:grid-cols-2 lg:grid-cols-3">
            <% if (users.length > 0) { %>
                <% users.forEach(function(user) { %>
                    <div class="user w-full p-5 bg-zinc-800 rounded-lg">
                        <div class="w-full h-80 bg-red-500 rounded-lg flex items-center justify-center overflow-hidden mt-3">
                            <img src="<%= user.image %>" alt="<%= user.name %>" class="w-full h-full object-cover">
                        </div>
                        <h3 class="text-xl mt-3 font-semibold"><%= user.name %></h3>
                        <h5 class="text-zinc-500 mb-4"><%= user.email %></h5>
                        <div class="flex flex-col sm:flex-row gap-2 sm:gap-4">
                            <a href="/edit/<%= user._id %>" class="text-blue-500 hover:text-blue-700">Edit user</a>
                            <a href="/delete/<%= user._id %>" class="text-red-500 hover:text-red-700">Delete user</a>
                        </div>
                    </div>
                <% }) %>
            <% } else { %>
                <h2 class="text-center text-white mt-6">No users yet</h2>
            <% } %>
        </div>
    </div>

</body>

</html>
